@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
:root {
    --secondary-color: hsl(233, 54%, 16%);
    --white: #fff;
}

body, html {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
}

h1 {
    height: 30px;
    left: 0%;
    right: 70.63%;
    top: calc(50% - 30px/2 - 94px);
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
}

h2 {
    height: 112px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}

header {
    width: 100%;
    height: 837px;
    display: flex;
    justify-content: center;
}

.section-courses {
    width: 100%;
    height: 888px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    display: flex;
    justify-content: center;
}

.section-courses-content {
    width: 1110px;
    height: 748px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-courses-content-first-line, 
.section-courses-content-second-line  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-courses-content-first-line-atention, 
.section-courses-content-second-line-course, 
.section-courses-content-first-line-course {
    width: 350px;
    height: 322px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.section-courses-content-first-line-attention-text span {
    height: 120px;
    left: 9.14%;
    right: 9.14%;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;    
    color: #FFFFFF;
}

.section-courses-content-first-line-attention-text {
    height: 120px;
    width: 286px;
    margin-left: 32px;
    margin-top: 64px;
}

.section-courses-content-second-line-course-text {
    width: 286px;
    height: 218px;
    margin-left: 32px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-get-started {
    height: 28px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    background: none;
    border: none;
    width: 120px;
}

.section-courses-content-first-line-atention {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

footer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: var(--secondary-color);
}

.menu {
    width: 100%;
    height: 120px;
}

.footer-container, .menu {
    display: flex;
    flex-direction:  row;
    width: calc(100% - 330px);
    justify-content: space-between;
    align-items: center;
}

.btn-grad-pink {
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;
    width: 167px;
    height: 56px;
    border: none;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--white)
}
